<div class="group p-6 max-w-sm mx-auto bg-white rounded-xl shadow-lg flex items-center space-x-4 hover:bg-violet-600">
    <div>
        <span class="before:block before:absolute before:-inset-1 before:-skew-y-3 before:bg-pink-500 relative inline-block">
            <span class="relative text-white font-bold">Soljari</span>
        </span>
        <p class="text-slate-500 py-2 group-hover:text-white">Calculate soljari within seconds!</p>
    </div>
</div>
<div class="py-16">
    <button class="btn-primary">
        Start
    </button>
   
</div>