<nav class="bg-transparent text-orange-400">
    <ul class="px-28 py-4 flex space-x-3 justify-center font-bold">
        <li class="cursor-pointer">About</li>
        <li class="cursor-pointer">Contact</li>
        <li class="cursor-pointer">Gallery</li>
        <li class="cursor-pointer">History</li>
    </ul>
</nav>